<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Pokedex</title>
  </head>
  <body>
    <header>
      <h3>Pokedex</h3>
      <nav>
        <ul class="nav__links">
          <li><a href="#">Pokedex</a></li>
          <li><a href="#">Cadastro</a></li>
          <li><a href="#">Detalhes</a></li>
        </ul>
      </nav>
      <a href="#" class="cta"><button>Contact</button></a>
    </header>
    <main>
      <section>
        <% pokedex.forEach((pokemon) => { %>
        <div>
          <h2><%= pokemon.nome %></h2>
          <img src="<%= pokemon.imagem %>" alt="" />
          <p><%= pokemon.tipo %></p>
        </div>
        <% }) %>
      </section>
    </main>
  </body>
</html>
