@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* O código acima altera a forma com que a altura e largura dos elementos seja calculadas, fazem com que as mesmas incluem os valores de padding e border */

/**********************************/
/* 0. Variáveis
/* 1. Container
/* 2. Nav
/* 3. Cards
/* 4. Footer
/**********************************/

/**********************************/
/* 0. Variáveis
/**********************************/

:root {
    /* Indica o nível mais alto do css, com especificidade mais alta */
    --ff-primary: 'Montserrat', sans-serif;
    --clr-black-dark: #24252a;
    --clr-light-white: #edf0f1;
    --clr-dif-blue: #0088a9;
    --clr-dark-blue: rgba(0, 136, 169, 0.8);
    --clr-light-gray: #ccc;
    --clr-black: #000;
    --clr-dark-gray: #777;
}

/**********************************/
/* 1. Estilos gerais
/**********************************/

html {
    background-color: var(--clr-dif-blue);
}

body {
    /* background-color: var(--clr-black-dark); */
    font-family: var(--ff-primary);
    font-weight: 500;
    height: auto;
} /* Fundo da página utilizando uma variável */

a {
    text-decoration: none;
}

/**********************************/
/* 2. Nav
/**********************************/

header {
    background-color: var(--clr-black-dark);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    height: 100px;
}

li,
a {
    font-size: 20px;
    color: var(--clr-light-white);
    text-decoration: none;
}

h3 {
    cursor: pointer;
    color: var(--clr-dif-blue);
    transition: all 0.3s ease 0s;
    font-size: 25px;
}

h3:hover {
    color: var(--clr-dark-blue);
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: var(--clr-dif-blue);
}

/**********************************/
/* 3. Cards
/**********************************/

section#card {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 50px;
    background-color: var(--clr-dif-blue);
    flex-wrap: wrap;
}

div.card__container {
    width: 350px;
    height: auto;
    margin: 50px 25px;
    background-color: var(--clr-light-white);
    padding: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border: solid 5px var(--clr-dark-blue);
    border-radius: 10px;
}

div.card__container:hover {
    transform: scale(1.05);
    background-color: var(--clr-black-dark);
    color: var(--clr-light-white);
}

div.card__container a {
    color: var(--clr-black);
}

div.card--id {
    text-align: start;
    font-size: 25px;
}

div.card--main {
    text-align: center;
}

div.card--main img {
    margin-top: 25px;
    margin-bottom: 25px;
    width: 100%;
}

div.card--main p {
    margin-top: 25px;
}

div.card--footer {
    margin-top: 25px;
}

div.card--header {
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

div.card--header {
    font-size: 25px;
    color: --clr-dark-gray;
}

div.card--main {
    margin-top: 10px;
}

div.card--main h4 {
    font-size: 40px;
}

div.card--main--info {
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

div.card--main--info span {
    font-size: 25px;
}

div.card--footer span {
    font-size: 25px;
}
